* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $fontFamily;
}

h2,
h3 {
  color: $header;
  text-transform: capitalize;
}
h2 {
  width: 100%;
  text-transform: capitalize;
  color: $bgColorLightBlue;
  border-bottom: 3px solid $bgColorLightBlue;
  font-size: 32px;
  font-weight: 600;
}
