@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,600;0,700;1,300&display=swap");
$picDesktop: "https://dummyimage.com/480x400/000/0011ff";
$picTablet: "https://dummyimage.com/280x200/000/0011ff";
$picMobile: "https://dummyimage.com/150x100/000/0011ff";
$fontFamily: "Josefin Sans", sans-serif;
$color-1: #6be;
$color-2: #6e6;
$color-3: #c60;
$color-4: #9ca8af;
$bgOverlay-1: rgba(0, 0, 0, 0.64);
$bgOverlay-2: rgba(0, 0, 0, 0.4);
$bgGray: rgba(0, 0, 0, 0.6);
$bgBody: #777777;
$anchorColor: #6cc0f7;
$bgColor-1: #6cc0f7;
$borderColor-1: #6cc0f7;
$bgColor-2: #e9e9e9;
$anchorColorHover: #444444;
$header: #444444;
