@media (min-width: 300px) {
  .grid-gallery {
    @include flexBox(column, center, center, wrap);

    .gallery-bottom {
      padding: 2%;
      display: flex;
      flex-direction: column;
      row-gap: 50px;
      h3 {
        padding: 5% 0%;
      }
      aside {
        padding-left: 3%;
        @include bgPic($picMobile);
        width: 370px;
        height: 270px;
      }
    }

    [class*="gallery-box-"] {
      padding: 5% 3% 5%;
      background-color: $bgColorLigthGrey;
      @include flexBox(column, flex-start, flex-start, nowrap, 0, 40px);
    }
  }

  .subscribe {
    background-color: $bgColorLightBlue;
    color: white;
    padding: 5%;
    @include flexBox(column, center, center, nowrap);
    @include borderBox(3vh, solid, white);

    > h2 {
      padding: 15%;
      color: white;
      text-align: center;
      border-bottom: 0;
    }

    > p {
      padding: 3%;
      text-align: center;
      font-weight: 100;
    }

    > form {
      width: 90%;
      @include flexBox(column, center, center, nowrap, 20px);
    }

    [type="email"] {
      width: 60%;
      padding: 4%;
      color: white;
      background-color: $color-1;
      &:hover {
        color: white;
      }
    }

    [type="submit"] {
      width: 50%;
      padding: 3%;
      color: white;
      font-size: 90%;
      font-weight: 600;
      background-color: $bgColorLightBlue;
      @include borderBox(4px, solid, white);
    }
  }

  .contact {
    padding: 1%;
    @include flexBox(column, center, center, nowrap);

    > p {
      width: 70%;
      text-align: center;
      padding: 10% 0%;
      font-size: 24px;
    }

    > form {
      width: 90%;
      @include flexBox(column, center, center, nowrap, 20px);
    }

    [type="text"],
    [type="email"],
    textarea {
      @include borderBox(1px, solid, $bgOverlay-2);
      font-family: $fontFamily;
      padding: 3%;
      width: 80%;
    }

    textarea {
      height: 25vh;
    }

    [type="submit"] {
      background-color: $anchorColor;
      color: white;
      font-weight: 600;
      width: 90%;
      padding: 2.5%;
    }
  }

  .footer {
    @include flexBox(column, center, center, nowrap, 50px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bgColor-2;
    padding: 2%;
    height: 30vh;
    color: $bgBody;
    row-gap: 50px;
    .icons {
      width: 60%;
      display: flex;
      justify-content: space-between;
      a {
        color: $bgBody;
        text-decoration: none;
      }
    }
  }
}
