@media (min-width: 300px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $bgColor-2;
    padding: 2%;
    height: 30vh;
    color: $bgBody;
    row-gap: 50px;

    .icons {
      width: 60%;
      display: flex;
      justify-content: space-between;
      a {
        color: $bgBody;
        text-decoration: none;
      }
    }
  }
}
